<div class="container">
  <div class="row">
    <div class="col-md-8 border-start">
      <div class="pt-3 pb-3 d-flex ">
        <input type="text" class="form-control" id="search-bar" placeholder="Search...">
        <button type="button" class="btn ml-2 btn-outline-light" id="search-button"  style="background-color: #009eb5">Search</button>
      </div>

      <div id="api-response-cards" class="container">
        <!-- Cards from API response will be generated here -->
      </div>
    </div>

    {{#if loggedIn}}
    <div id="list-container" class="col-md-4 border-end">
      <div class="input-group pt-3">
        <select class="form-select" id="listChoice" aria-label="Example select with button addon">
          <option id="currentListOption" selected>Choose List...</option>
          {{#each lists as |list|}}
          <option value={{id}} class="get-list">{{name}}</option>
          {{/each}}
        </select>
      </div>
      
      <div id="list-items-container">
        <!-- List items will be appended here -->
      </div>
    </div>
   
{{/if}}
  </div>
</div>

<script src="../js/api.js"></script>
<script>
  document.getElementById('search-button').addEventListener('click', function() {
    const query = document.getElementById('search-bar').value;
    if (query.length > 2) { 
      searchItems(query);
    }
  });

  document.getElementById('search-bar').addEventListener('keyup', function(event) {
    if (event.keyCode === 13) { 
      const query = event.target.value;
      if (query.length > 2) { 
        searchItems(query);
      }
    }
  });

  function decreaseQuantity(itemId) {
    // Function to decrease quantity
  }

  function increaseQuantity(itemId) {
    // Function to increase quantity
  }

  function removeItem(itemId) {
    // Function to remove item
  }

//fetch items for list and create list
  async function getListItems(list_id) {
  const response = await fetch(`/api/listProducts/list/${list_id}`);
  const data = await response.json();
  console.log(data.products);

  const container = document.getElementById("list-items-container");
  container.innerHTML = '';

  let ul = document.createElement("ul");
  ul.className = "list-hight-overwrite overflow-auto pt-3 list-group list-group-flush";

  data.products.forEach(function(product) {
    let li = document.createElement("li");
    li.textContent = product.list_product.quantity + "  " + product.name;
    li.className = "list-group-item";
    li.style = "background-color: #ecf4ff"
    ul.appendChild(li);
    console.log(product.name);
  });

  container.appendChild(ul);
}

const listChoice = document.querySelector("#listChoice")
listChoice.addEventListener("click", async function(event){
  event.preventDefault();
  list_id=listChoice.value;
  console.log(list_id);
  getListItems(list_id);
})
  
  window.addEventListener("load",function(){
    var localId = localStorage.getItem("LocalListId")
    console.log(localId)
  });

</script>