<div class="container">
  <div class="row">
    <!-- Sidebar for displaying created lists -->
    <div class="col-md-3 justify-content-center mt-5 border-end">
      <div class="list-group">
        {{#each lists}}
          <div class="d-flex justify-content-center w-100 p-3">
            <a class="col-md-9 list-group-item list-group-item-action" onclick="switchList('{{this.id}}')">
              {{this.name}}
            </a>
            <button class="col-md-2 btn btn-sm btn-danger" type="button" onclick="deleteList('{{this.id}}')">X</button>
          </div>
        {{/each}}
      </div>
    </div>

    <!-- selected list section -->
    <div id="items" class="mt-5 col-md-9">
  </div>
</div>

<script>
  const userId= window.location.href.split("/")[5]
  const container = document.getElementById("items");

  //Switch items clicking on list name
  async function switchList(listId) {
  container.innerHTML = '';
  let ul = document.createElement("ul");
  ul.className = "list-group";
  container.appendChild(ul);
  const response = await fetch(`/api/listProducts/list/${listId}`);
  const data = await response.json();
  console.log(data.products);

  data.products.forEach(function(product) {
    let li = document.createElement("li");
    li.className="list-group-item d-flex justify-content-between align-items-center"
    li.textContent = product.name;

    let innerdiv = document.createElement("div")
    innerdiv.className="input-group input-group-sm w-auto"

    let dbtn = document.createElement("button")
    dbtn.className="btn btn-outline-secondary"
    dbtn.type="button"
    dbtn.innerText="-"
    dbtn.onclick=`decreaseQuantity(${product.list_product.id})`

    let input = document.createElement("input");
    input.type="text";
    input.className="form-width-overwrite form-control";
    input.value=`${product.list_product.quantity}`
    input.readOnly=true;
    input.id=`quantity-${product.list_product.id}`

    let ibtn = document.createElement("button")
    ibtn.className="btn btn-outline-secondary"
    ibtn.type="button"
    ibtn.innerText="+"
    ibtn.onclick=`increaseQuantity(${product.list_product.id})`

    let deleteBtn = document.createElement("button")
    deleteBtn.className="btn btn-danger"
    deleteBtn.type="button"
    deleteBtn.innerText=`Remove`
    deleteBtn.id=`${product.list_product.id}`
    deleteBtn.onclick = removeitem 

    innerdiv.append(dbtn);
    innerdiv.append(input);
    innerdiv.append(ibtn);
    innerdiv.append(deleteBtn);
    li.append(innerdiv)
    ul.appendChild(li);
    console.log(product.name);
  })
  }

 //delete item when click on
async function removeitem() { 
      console.log(`/api/productList/${this.id}`)
    const response = await fetch(`/api/listProducts/${this.id}`, {
        method: 'DELETE',
      });

      if (response.ok) {
        console.log('You have successfully deleted the list!');
        document.location.replace(`/api/lists/${userId}`);
      } else {
        alert('Failed to delete product');
      }
    };

  //delete list when click on 
  const deleteList = async (listId) => {
    const id = window.location.href.split("/")[5];
    if (listId) {
      const response = await fetch(`/api/lists/${listId}`, {
        method: 'DELETE',
      });

      if (response.ok) {
        console.log('You have successfully deleted the list!');
        document.location.replace(`/api/lists/${id}`);
      } else {
        alert('Failed to delete list');
      }
    }
  };
</script>