<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Logging out...</title>
</head>
<body>
  <p>Logging out...</p>
  <script>
    setTimeout(function() {
      window.location.href = '/login';
    }, 2000); // Redirect to login page after 2 seconds
  </script>
</body>
</html>